{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ pokemon.nom }}{% endblock %}

{% block body %}
    <div class="buttons">
        
        
        <a href="{{ path('pokemon_read',{'id': pokemon.id -1 }) }}"><button class="nav">Precedent</button></a>
        <a href="/"><button class="nav">Accueil</button></a>
        <a href="{{ path('pokemon_read',{'id': pokemon.id +1 }) }}"><button class="nav">Suivant </button></a>
    
    </div>
    <main>
    <div class="empty-big-card">
        <div class="pokemon-big-card">
            <div class="pokemon-title">{{ pokemon.nom }}</div>
            <div class="pokedex-number">Pokedex N° : {{ pokemon.numero}} </div>
            
            <div class="pokemon">
                <img class="pokemon-image" src="{{ asset('images/' ~ pokemon.numero ~ '.png' ) }}" />

            </div>
            
            <div class="types">
                <div class="types">
                    {% for type in pokemon.type %}
                        <div class="type--{{ type.name }}"> {{ type.name }}</div>
                    {% endfor %}
                </div>
            </div>
           
            <h3>Description</h3>
            <p>{{ pokemon.description }}</p>
            <br> Poids : <span class="weight">{{ pokemon.poids }}</span> kg -  Taille : <span class="height">{{ pokemon.taille }}</span> m
            {#stats pokemon#}
            {% include '_partials/_statsPokemon.html.twig' %}
            
            
           
        
        </div>
    
    </div>
    </main>
{% endblock %}
